*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root{
  --yellow: yellow
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Epilogue', sans-serif;
  margin: 0.5rem 0;
}

img{
  width: 100%;
  display: block;
}

a{
  color: black;
  text-decoration: none;
}
ul li{
  list-style-type: none;
}

body{
  font-family: 'Inter',sans-serif;
  line-height: 1.6;
}

button{
  font-family: inherit;
  font-size: 1rem;
  outline: none;
}

.text-light{
  color: var(--dark);
  font-size: 0.95rem;
  font-weight: 300;
  margin: 0.5rem 0;
}

.container{
  width: 95vw;
  margin: 0 auto;
}

.py-5{
  padding: 5rem 0;
}

.header{
  min-height: 100vh;
  width: 100%;
  background-image: url(images/victor-hernandez-7qLJJ2dMCyY-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

.navbar-brand{
  font-size: 1.8rem;
  font-weight: 800;
}

.navbar{
  position: fixed;
  top:0;
  z-index: 999;
  background:white;
  width: 100%;
  box-shadow: 0 0 4px var(--lightGrey);
}

.brand-and-toggler{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 3.5vw;
}

.navbar-toggler{
  color: black;
  background: none;
  padding: 0.1rem 0.4rem;
  border: none;
  cursor: pointer;
  font-size: 1.7rem;
  transition: all 0.3s ease-in-out;
}

.navbar-toggler:hover{
  background:rgb(225, 169, 47); 
  color: white; 
}

.nav-item{
  padding: 0.5rem 3.5vw;
  transition: background 0.4s ease-in-out;
  cursor: pointer;
}

.nav-item:hover{
  background: rgb(225, 169, 47);
}

.nav-link{
  text-transform: uppercase;
  font-size: 0.95rem;
  font-weight: 600;
  letter-spacing: 4px;
}

.navbar-collapse{
  height: 0;
  overflow: hidden; 
  transition: all 0.4s ease;
}

.showNav{
  height: 219px;
  padding-top: 0.7rem;
}

.header-banner{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-line{
  width: 110px;
  height: 4px;
  background: black;
  margin: 0 auto;
}

.banner-title span{
  display: block;
  text-align: center;
}

.banner-title span:first-of-type{
  font-size: 1.6rem;
  text-transform: uppercase;
  font-family: 'Epilogue', sans-serif;
  letter-spacing: 4px;
  margin: 1.5rem;
}

.banner-title span:last-of-type{
  font-size: 3.2rem;
  text-transform: capitalize;
}

.banner-btn{
  display: block; 
  margin: 2rem auto;
  text-transform: 800;
  border: 3px solid black;
  background:transparent;
  padding: 0.9rem 3rem;
  transition: all 0.4s ease-in-out;
}

.banner-btn:hover{
  color:white ;
  background: rgb(225, 169, 47);
}



.header-banner-content{
  background: rgba(245,245,245,0.85);
  padding: 3rem 0;
  transition: background 0.5s ease-in-out;
}

.header-banner-content:hover{
  background-color: rgba(245,245,245,1);
}

/* Media Queries */
@media screen and {
  
}