*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root{
  --yellow: yellow
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Epilogue', sans-serif;
  margin: 0.5rem 0;
}

img{
  width: 100%;
  display: block;
}

a{
  color: black;
  text-decoration: none;
}
ul li{
  list-style-type: none;
}

body{
  font-family: 'Inter',sans-serif;
  line-height: 1.6;
}

button{
  font-family: inherit;
  font-size: 1rem;
  outline: none;
}

.text-light{
  color: var(--dark);
  font-size: 0.95rem;
  font-weight: 300;
  margin: 0.5rem 0;
}

.container{
  width: 95vw;
  margin: 0 auto;
}

.py-5{
  padding: 5rem 0;
}

.header{
  min-height: 100vh;
  width: 100%;
  background-image: url(images/victor-hernandez-7qLJJ2dMCyY-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

.navbar-brand{
  font-size: 1.8rem;
  font-weight: 800;
}

.navbar{
  position: fixed;
  top:0;
  z-index: 999;
  background:white;
  width: 100%;
  box-shadow: 0 0 4px var(--lightGrey);
}

.brand-and-toggler{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 3.5vw;
}

.navbar-toggler{
  color: black;
  background: none;
  padding: 0.1rem 0.4rem;
  border: none;
  cursor: pointer;
  font-size: 1.7rem;
  transition: all 0.3s ease-in-out;
}

.navbar-toggler:hover{
  background:rgb(225, 169, 47); 
  color: white; 
}

.nav-item{
  padding: 0.5rem 3.5vw;
  transition: background 0.4s ease-in-out;
  cursor: pointer;
}

.nav-item:hover{
  background: rgb(225, 169, 47);
}

.nav-link{
  text-transform: uppercase;
  font-size: 0.95rem;
  font-weight: 600;
  letter-spacing: 4px;
}

.navbar-collapse{
  height: 0;
  overflow: hidden; 
  transition: all 0.4s ease;
}

.showNav{
  height: 219px;
  padding-top: 0.7rem;
}

.header-banner{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-line{
  width: 110px;
  height: 4px;
  background: black;
  margin: 0 auto;
}

.banner-title span{
  display: block;
  text-align: center;
}

.banner-title span:first-of-type{
  font-size: 1.6rem;
  text-transform: uppercase;
  font-family: 'Epilogue', sans-serif;
  letter-spacing: 4px;
  margin: 1.5rem;
}

.banner-title span:last-of-type{
  font-size: 3.2rem;
  text-transform: capitalize;
}

.banner-btn{
  display: block; 
  margin: 2rem auto;
  text-transform: 800;
  border: 3px solid black;
  background:transparent;
  padding: 0.9rem 3rem;
  transition: all 0.4s ease-in-out;
}

.banner-btn:hover{
  color:white ;
  background: rgb(225, 169, 47);
}

.header-banner-content{
  background: rgba(245,245,245,0.85);
  padding: 3rem 0;
  transition: background 0.5s ease-in-out;
}

.header-banner-content:hover{
  background-color: rgba(245,245,245,1);
}

.container1{
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #101010;
  color: white;
  padding: 100px 0;
}

.timeline{
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.timeline ul{
  list-style: none;
}

.timeline ul li{
  padding: 20px;
  background-color: #1e1f22;
  color: white;
  border-radius: 10px;
  margin-bottom: 20px;
}

.timeline ul li:last-child{
  margin-bottom: 0;
}

.timeline-content h1{
  font-size: 25px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 10px;
}

.timeline-content p{
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
}

.timeline-content .date{
  font-size: 13px;
  font-weight: 300;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

/*about */

#about{
  padding: 100px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-image: url(images/talles-alves-VSss57q-Cxs-unsplash.jpg);
}

#about h1{
  text-align: center;
}

.center1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.about-text p{
  border: 3px solid black;
  padding: 10px;
}

.img-gallery{
  width: 80%;
  margin: 100px auto 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  grid-gap: 30px;
}

.img-gallery img{
  width: 100%;
  cursor: pointer;
}

.img-gallery img:hover{
  transform: scale(0.8) rotate(-15deg);
  border-radius: 20px;
  box-shadow: 0 32px 75px rgba(68,77,136,0.2);
}

.full-img{
  width: 100%;
  height: 100vh;
  background:rgba(0,0,0,0.9);
  position: fixed;
  top:0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.full-img img{
  width: 90%;
  max-width: 500px;
}

.full-img span{
  position: absolute;
  top:15%;
  right: 5%;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

#images{
  margin: 0;
  padding: 0;
}

.footer{
  text-align: center;
  background-color: wheat;
}

/* Media Queries */
@media screen and (min-width: 992px){
  .container{
    width: 85vw;
  }
  .navbar{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .navbar-collapse{
    flex: 1 0 auto;
    padding-right: 7.5vw;
    display: flex!important; /* adding important so it overrides everything */
    height: auto;
    justify-content: flex-end;
    transition: none;
  }
  .brand-and-toggler{
    padding-left: 7.5vw;
    padding-right: 0;
  }
  .navbar-brand{
    font-size: 2.3rem;
  }
  .nav-item{
    padding: 0.75rem 1rem;
  }
  .navbar-toggler{
    display: none;
  }
  .navbar-nav{
    display: flex;
  }

  /*for timeline*/
  .timeline ul li{
    width: 50%;
    margin-bottom: 50px;
    position: relative;
  }
  .timeline ul li:nth-child(odd){
    float: left;
    clear: right;
    transform: translateX(-30px);
    border-radius: 20px 0px 20px 0px;
  }

  .timeline ul li:nth-child(even){
    float: right;
    clear: left;
    transform: translateX(30px);
    border-radius: 0px 20px 20px 0px;
  }  

  .timeline::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 2px;
    left: 50%;
    transform:translate(-50%);
    background-color: gray;
  }
  .timeline ul li::after{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: gray;
    border-radius: 50%;
    top: 0;
  }
  .timeline ul li:nth-child(odd)::after{
    right: 0;
    transform: translate(50%,-50%);
    right: -30px;
  }

  .timeline ul li:nth-child(even)::after{
    transform: translate(-50%,-50%);
    left: -30px;
  }
  .timeline ul li:hover:after{
    background-color: rgb(225, 169, 47);
  }
  .timeline-content .date{
    position: absolute;
    top: -30px;
  }
}
