*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root{
  --yellow: yellow
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Epilogue', sans-serif;
  margin: 0.5rem 0;
}

img{
  width: 100%;
  display: block;
}

a{
  color: black;
  text-decoration: none;
}
ul li{
  list-style-type: none;
}

body{
  font-family: 'Inter',sans-serif;
  line-height: 1.6;
}

button{
  font-family: inherit;
  font-size: 1rem;
  outline: none;
}

.text-light{
  color: var(--dark);
  font-size: 0.95rem;
  font-weight: 300;
  margin: 0.5rem 0;
}

.container{
  width: 95vw;
  margin: 0 auto;
}

.py-5{
  padding: 5rem 0;
}

.header{
  min-height: 100vh;
  width: 100%;
  background-image: url(images/victor-hernandez-7qLJJ2dMCyY-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

.navbar-brand{
  font-size: 1.8rem;
  font-weight: 800;
}

.navbar{
  position: fixed;
  top:0;
  z-index: 999;
  background:white;
  width: 100%;
  box-shadow: 0 0 4px var(--lightGrey);
}

.brand-and-toggler{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 3.5vw;
}

.navbar-toggler{
  color: var(red);
  background: none;
  padding: 0.1rem 0.4rem;
  border: none;
  cursor: pointer;
}